/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/12/2014, 09:07:34 AM
    Author     : JuliánAndrés
*/
@font-face {
    font-family: "Segoe UI 8";
    src: url('../templates/fonts/segoeui.ttf') format("truetype");
}

@font-face {
    font-family: "Segoe UI Semibold 8";
    src: url('../templates/fonts/seguisb.ttf') format("truetype");
}

@font-face {
    font-family: "Segoe UI Light 8";
    src: url('../templates/fonts/segoeuil.ttf') format("truetype");
}

@font-face {
    font-family: "Segoe UI Bold 8";
    src: url('../templates/fonts/segoeuib.ttf') format("truetype");
}
@font-face {
    font-family: "Segoe UI Semilight";
    src: url('../templates/fonts/segoeuisl.ttf') format("truetype");
}
.contenedor{
    width: 100%;
    display: inline-block;
    text-align: center;
}

header{
    width: 100%;
    max-width: 1200px;
    display: inline-block;    
    text-align: center;
}
.menuImg{
    width: 40px;
    display: inline-block;
    vertical-align: top;
    padding: 5px 5px 5px 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.logoEmpresa{
    width: 300px;
    display: inline-block;
    vertical-align: top; 
    padding: 5px;
    margin-top: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.logoEmpresa img{
    width: auto;
    height: 100%;    
}
.sesion{
    width: calc(100% - 340px);    
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: right;
    font-family: "Segoe UI 8";
    font-size: 14px;
    color: #444;
}
.sesion img{
    margin-left: 5px;
    vertical-align: middle;         
}
.contenedorRutaApp{
    width: 100%;
    height: 35px;
    text-align: left;
    font-family: "Segoe UI 8";
    font-size: 16px;
    color: #fff;
}
.contenedorRutaApp a{
    color: #FFF;
    text-decoration: none;
}
.nombreAplicacion{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #335D94;
}
.arrowImgRight{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #e5e6e7;
}
.opcionSeleccionada{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #79BAF2;
}

nav{
    width: 100%;
    max-width: 1200px;
    display: inline-block;
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
ul li{
    padding: 8px 20px 8px 20px;
    display: inline-block;
    list-style: none;
}
ul li:hover{
    background: #79BAF2;    
}
ul li:hover a{
    color: #fff;
}

ul li a{
    text-decoration: none;
    font-family: "Segoe UI Light 8";
    font-size: 14px;
    color: #444;
}
ul li img{
    vertical-align: middle;
    margin-right: 5px;
}
#menu{
    background: #e5e6e7;
}
#subMenuItem{
    background: #e5e6e7;
}
#subMenuItem:hover{
    background: #1f7de5;
}

.contenido{
    width: 100%;
    max-width: 1200px;    
    display: inline-block;    
}
#contenidoInicio{
    height: 400px;
    margin: 0;
    background: url(../res/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

#contenidoSubMenu{
    margin: 100px 0px 100px 0px;
}
#contenidoGeneral{
    margin: 30px 0px 100px 0px;
    text-align: left;
}
#contenidoGeneral2{
    margin: 30px 0px 0px 0px;
    text-align: left;
}
.encabezadoContenido{
    width: 100%;
    display: inline-block;
    padding: 10px 0px 10px 0px;
}
.tituloContenido{
    width: calc(100% - 350px);
    display: inline-block;
    text-align: left;
}
.agregarDato{
    width: 150px;
    display: inline-block;
}
.buscar{
    display: inline-block;
    width: 200px;
    text-align: right;
}
.listado p, .listadoCreditBill p{
    font-family: "Segoe UI 8";
    font-size: 14px;
    color: #335D94;
}

.contenidoCantidadPrecio, .contenidoCantidadPrecioDetail, .fondoNegro, .contenidoNota, .contenidoBarcode, .contenidoDevueltas, .contenidoDevoluciones, .contenidoRecaudo
{
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.detallesCantidadPrecio, .detallesCantidadPrecioDetail, .detallesNota, .detallesBarcode, .detallesDevueltas, .detallesRecaudo, .detallesDevolucion{
    z-index: 10000;
    position: absolute;
    background: #FFF;
    text-align: center;
    display: none;
    margin: 0 auto;
    top:40%;
    left:50%;
    width:300px;
    margin-left:-150px;
    height:auto;
    margin-top:-150px;
    padding:20px 20px 30px 20px;
    
}
.detallesCantidadPrecio h1{
    margin-bottom: 10px;
}

.detallesNota{
    height: 320px;
}

.promtInventario{
    z-index: 10000;
    position: absolute;
    background: #FFF;
    text-align: center;
    display: none;
    margin: 0 auto;
    top:50%;
    left:50%;
    width:300px;
    margin-left:-150px;
    height:350px;
    margin-top:-150px;
    padding:5px;    
}

.promtRemision{
    z-index: 10000;
    position: absolute;
    background: #FFF;
    text-align: center;
    display: none;
    margin: 0 auto;
    top:50%;
    left:50%;
    width:300px;
    margin-left:-150px;
    height:500px;
    margin-top:-250px;
    padding:5px;    
}

.promtUtilidad{
    z-index: 10000;
    position: absolute;
    background: #FFF;
    text-align: center;
    display: none;
    margin: 0 auto;
    top:50%;
    left:50%;
    width:300px;
    margin-left:-150px;
    height:300px;
    margin-top:-150px;
    padding:5px;    
}

.detallesCantidadPrecio p, .promtInventario p, .promtRemision p, .promtUtilidad p, .detallesCantidadPrecioDetail p, .detallesNota p, .detallesDevueltas p, .detallesRecaudo p, .detallesDevolucion p{
    font-family: "Segoe UI 8";    
    font-size: 12px;
    color: #3593D2;
}

#pMensaje{
    color: #DC2727;
}

#bcTarget{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 20px 0px 20px 0px;
    font-family: "Segoe UI 8";
}

.imgBarcodeClass{
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

footer{
    width: 100%;
    max-width: 1200px;
    display: inline-block;
}
.contenedorRutaSoporte{
    width: 100%;
    height: 35px;
    text-align: right;
    font-family: "Segoe UI 8";
    font-size: 16px;
    color: #fff;
}
.nombreDesarrollador{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #335D94;
}
.arrowImgLeft{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #e5e6e7;
}
.opcionSeleccionadaSoporte{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #79BAF2;
}
.franjaAzul{
    width: 100%;
    height: 30px;
    max-width: 1200px;
    background: #335D94;
}
.franjaGris{
    width: 100%;
    height: 30px;
    max-width: 1200px;
    background: #e5e6e7;
}
.jump{
    width: 100%;
    height: 50px;
}
.inp-form{
    border: 1px #bbbdbf solid;
    padding: 2px 10px 2px 10px;
    font-family: "Segoe UI Light 8";
    font-size: 16px;
    height: 20px;
    color: #444;
    margin: 0px !important;
    text-transform: uppercase;
}
input[type="button"], input[type="submit"]{
    background: #e5e6e7;
    border: none;
    padding: 5px 10px 5px 10px;
    font-family: "Segoe UI Light 8";
    font-size: 14px;
    color: #444;
}
input[type="button"]:hover, input[type="submit"]:hover{
    background: #79BAF2;
    color: #fff;
}
input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="datetime"]{
    border: 2px #bbbdbf solid;
    padding: 2px 10px 2px 10px;
    font-family: "Segoe UI Light 8";
    font-size: 14px;
    color: #444;
    margin: 10px 10px 10px 0px;
    text-transform: uppercase;
}
#imputUpNone{
    text-transform: none;
}

#txa-lg{
    width: 100%;
    height: 50px;
    border: 2px #bbbdbf solid;
    padding: 2px 10px 2px 10px;
    font-family: "Segoe UI Light 8";
    font-size: 14px;
    color: #444;
    margin: 10px 0px 10px 0px;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

select{
    border: 2px #bbbdbf solid;
    padding: 1px 10px 1px 10px;
    font-family: "Segoe UI Light 8";
    font-size: 14px;
    color: #444;
    margin: 10px 10px 10px 0px;
}

h1{
    color: #335D94;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI Light 8";
    font-size: 16px;
}

table{
    width: 100%;    
}
#tableChange th{
    background: #79BAF2;
}
th{
    background: #335D94;
    color: #fff;
    font-family: "Segoe UI Light 8";
    font-size: 14px;
    padding: 5px;
    text-align: center;
}
td{
    font-family: "Segoe UI Semilight";
    font-size: 14px;
    padding: 5px;
}
.tdColor{
    background:  #335D94;
    color:white;
}
.color-black{ color: #444 !important;}
#trColor{
    background: #e5e6e7;
}
td img{
    margin: 0px 10px 0px 10px;
}
td img:hover{
    cursor: pointer;
}
td{
    text-align: left;
}
tr:hover{
    background: #E5E6E7;
}
#tdColor:hover{
    background: #ccc;
}
.tdDerecha{
    text-align: right;
}
.tdNoVisible{
    display: none;
}
#tdAcciones{
    text-align: center;
}

#superContenedorCanvas{
    width: 100%;
    display: inline-block;
    text-align: center;
}
#contenedorCanvas{
    width: 50%;
    display: inline-block;
    text-align: center;
}
#canvas{
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    width: 450px;
    height: 600px;
}

/* MEDIA QUERYES*/

/*// Small screens*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 426px) {
    .sesion{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    
    
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
    
/*// Medium screens*/
@media only screen and (min-width: 40.063em) {
    
} /* min-width 641px, medium screens */
@media only screen and (max-width: 40.063em) {
    .contenedorRutaApp{
        height: auto;
    }
    .nombreAplicacion, .arrowImgRight, .opcionSeleccionada{
        margin-bottom: 5px;        
    }
} /* max-height 641px, medium screens */
@media only screen and (max-width:640px) {     
    .tituloContenido{
        width: 100%;
    }
} /* min-width 641px, medium screens */


@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens*/
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
    
/*// XLarge screens*/
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens*/
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */